@font-face {
  font-family: 'Cantarell-Regular';
  src: url('../../fonts/Cantarell/Cantarell-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cantarell-Bold';
  src: url('../../fonts/Cantarell/Cantarell-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
